doctype html
html(lang="en")
	head
		<!-- SCRIPTS -->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<!-- FONTS -->
		<!--link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'-->
		<!--link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'-->

		title scrumblr

body
	h1 scrumblr by <a href="http://aliasaria.ca">aliasaria</a>

	div.board-outline
		div#board
			div#board-doodles


			table#board-table.board-table
				tr
					td
						h1.home scrumblr.
						form.home(onsubmit="return go();")
							label name your new board:
							br
							input.text(type="text", name="name")
							a#go(onclick="return go();") &nbsp;go.
						<br><br>
						p.home example board:
						p.home!= '<a href="http://' + locals.url + '/demo">' + locals.url + '/demo</a>'
						<br><br><br>
						p.home.small sourcecode at <a href="https://github.com/aliasaria/scrumblr">github</a>
				
<script type="text/javascript">function go() {var value = document.forms[0].elements["name"].value; value = escape(value); window.location.href = value; return false;}</script>
