extends layout

block body
    - if (locals.demo)
        div.notice-bar this is a demo board. to make a private board, go to <a href="http://scrumblr.ca">scrumblr.ca</a>

    script.
        (function($) {
            $(document).ready(function() {
                var mySlidebars = new $.slidebars();
                $('#slideopen i').on('click', function() {
                    mySlidebars.slidebars.toggle('left');
                });
                $('.sb-slidebar').on('click', function() {
                    mySlidebars.slidebars.close();
                });
                $('#jiraSync').on('click', function() {
                    $.blockUI({ 
                        message: "Syncing with jira",
                        css: { 
                            border: 'none', 
                            padding: '15px', 
                            backgroundColor: '#000', 
                            '-webkit-border-radius': '10px', 
                            '-moz-border-radius': '10px', 
                            opacity: .5, 
                            color: '#fff',
                            fontSize: '20px'
                        }
                    });
            
                    $.ajax("/jira/sprint/#{roomId}", {
                        success: function(data) {
                            $.unblockUI();
                            sendAction('initializeMe', null);
                        }
                    });
                });
        
                $.ajax("/scrumblr/board/list", {
                    success: function(data) {
                        var listContainer = $("#menuBoardList");
                        for (var i = 0; i < data.length; i++) {
                            var boardKey = data[i];
                            listContainer.append($("<li><a href='" + boardKey + "'>" + boardKey + "</a></li>"));
                        }
                    }
                });
        
            });
        }) (jQuery);


    include cardselector

    div.sb-slidebar.sb-left
        h1 &nbsp;<a href="http://scrumblr.ca">scrumblr</a> by <a href="http://aliasaria.ca">aliasaria</a><br/><br/>
    
        h1 &nbsp;&nbsp;&nbsp;Options:
        ul.sb-menu
            li <a id="jiraSync" href="#">Sync with Jira</a>
        
        h1 &nbsp;&nbsp;&nbsp;List of boards:
        ul#menuBoardList.sb-menu
    div#sb-site

        div#slideopen
            i.fa.fa-reorder

        div.board-outline
            div#board
                div#board-doodles
                image#marker(src='/images/marker.png')
                image#eraser(src='/images/eraser.png')
            
                table#board-table.board-table
                    tr
                        td#icon-col(width='1%')
                            image#add-col.col-icon(width='20', height='20', src='/images/icons/iconic/raster/black/plus_alt_32x32.png')
                            image#delete-col.col-icon(width='20', height='20', src='/images/icons/iconic/raster/black/minus_alt_32x32.png')

        div.names
            p connected:
            input#yourname-input
            span.you-text (you)
            ul#names-ul

